[Desktop Entry]
Name=Elwood Terminal
Comment=AI-native terminal emulator
Keywords=shell;prompt;command;commandline;cmd;ai;agent;
Icon=io.elwoodterminal.elwood
StartupWMClass=io.elwoodterminal.elwood
TryExec=elwood
Exec=elwood start --cwd .
Type=Application
Categories=System;TerminalEmulator;Utility;
Terminal=false
